body {
	margin: 0;
	background: black;
}

.nav-bar {
	position: fixed; 
	width: 100%;
	overflow: hidden;
	background: rgb(255, 255, 255, 1);
	font-family: sans-serif;
	text-transform: uppercase;
	border-radius: 5px;
	transition: box-shadow 0.3s ease-in-out;
	box-shadow:  0 0 5px black;
        z-index: 1000; 
        top: 0;
}

.nav-links {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nav-links li {
	float: right;
}

.nav-links a {
	display: inline-block;
	color: black;
	margin: 30px;
	font-size: 14px;
	margin-left: 10px;
	text-decoration: none;
	text-align: center;
	transition: text-shadow 0.3s ease-in-out;
}
.nav-bar:hover {
	box-shadow:  0 0 5px black, 
        0 0 10px #ffffff, 
        0 0 15px #ffffff, 
        0 0 20px #ffffff, 
        0 0 25px #ffffff, 
        0 0 30px #ffffff, 
        0 0 35px black;

}
.nav-links a:hover {
text-shadow: 
        0 0 5px #ffffff, 
        0 0 10px #ffffff, 
        0 0 15px #ffffff, 
        0 0 20px red, 
        0 0 25px #ffffff, 
        0 0 30px #ffffff, 
        0 0 35px #ffffff;
}

.icon-logo {
	position: fixed; 
	display: flex;
	margin: -69px;
	padding: 0;
	margin-left: 0;
	margin-right: 0;
	overflow: hidden;
	border-radius: 100%;
	height: 60px;
	width: auto;
	 z-index: 1000; 
        
}

.upcoming {
	background: url('Images/gamelogo.webp') no-repeat center center; 
  background-size: cover;
  display: block; 
  margin: 80px auto; 
  height: 520px;
  width: 100%; 
  overflow: hidden; 
  transition: opacity 0.5s ease-in-out;
}

.upcoming img {
	display: block;
	margin: 90px auto;
	overflow: hidden;
}

.upcoming b {
	display: block;
	margin: -50px auto;
	color: white;
	font-family: sans-serif;
	font-size: 16px;
	text-align: center;
}

.upcoming a {
	display: block;
	margin: 90px auto;
	width: 45%;
	text-decoration: none;
	border: 1px solid white;
	border-radius: 10px;
	color: white;
	font-family: sans-serif;
	font-size: 16px;
	text-align: center;
}


.upcoming:hover {
opacity: 0.9;
}

.shopping {
	background: rgb(12, 12, 12,1); no-repeat center center;
	 background-size: cover;
  display: block; 
  margin: 10px auto; 
  border-radius: 15px;
  height: 920px;
  width: 90%; 
  overflow: hidden; 
  transition: box-shadow 0.5s ease-in-out;

}

.shopping img {
height: 160px;
	margin: 30px;
    width: auto;
    transition: box-shadow 0.5s ease-in-out;
    transition: border 0.5s ease-in-out;
     transition: opacity 0.5s ease-in-out;
     background: black;
     border-radius: 15px;
     transition: border 0.5s ease-in-out;
}


.shopping img:hover {
	border: 1px solid white;
	animation: imgStaff 3s infinite;
}

.shopping:hover {
 box-shadow:  0 0 5px black, 
        0 0 5px rgb(12, 12, 12,0.5), 
        0 0 10px rgb(12, 12, 12,0.5), 
        0 0 20px rgb(12, 12, 12,0.5), 
        0 0 15px rgb(12, 12, 12,0.5), 
        0 0 35px rgb(12, 12, 12,0.5), 
        0 0 5px white;
}

.staff-pfp:hover {
	box-shadow:  0 0 5px black, 
        0 0 5px rgb(12, 12, 12,0.5), 
        0 0 10px rgb(12, 12, 12,0.5), 
        0 0 20px rgb(12, 12, 12,0.5), 
        0 0 15px rgb(12, 12, 12,0.5), 
        0 0 35px rgb(12, 12, 12,0.5), 
        0 0 5px white;
}

.staff-pfp {
 display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    text-align: center;
    background-size: cover;
    background: rgb(12, 12, 12,1); no-repeat center center;
    margin: 10px auto; 
  border-radius: 15px;
  height: auto;
  width: 90%; 
  overflow: hidden; 
  transition: box-shadow 0.5s ease-in-out;
}

.staff-pfp h1 {
	color:white;
	text-align: center;
	font-family: monospace;
	font-size: 30px;
	margin: 110px;
}

.staff-pfp b {
	display: block;
	color:white;
	text-align: center;
	font-family: monospace;
	font-size: 30px;
	margin: 0px;
        text-decoration: underline;
}

.staff-pfp img {
	height: 160px;
	margin: 30px;
    width: auto;
    border-radius: 100%;
    transition: box-shadow 0.5s ease-in-out;
    transition: border 0.5s ease-in-out;
     transition: opacity 0.5s ease-in-out;

}

.staff-pfp img:hover {
	animation: imgStaff 3s infinite;
	opacity: 0.8;
}




@keyframes imgStaff {
	0% {
		border: 0px solid white;
		box-shadow:  0 0 5px black, 
        0 0 0px #ffffff, 
        0 0 0px #ffffff, 
        0 0 0px #ffffff, 
        0 0 0px #ffffff, 
        0 0 0px #ffffff, 
        0 0 0px black;

	}

	50% {
		border: 2px solid white;
		box-shadow:  0 0 5px black, 
        0 0 10px #ffffff, 
        0 0 15px #ffffff, 
        0 0 20px #ffffff, 
        0 0 25px #ffffff, 
        0 0 30px #ffffff, 
        0 0 35px black;

	}

	100% {
		border: 0px solid white;
		box-shadow:  0 0 5px black, 
        0 0 0px #ffffff, 
        0 0 0px #ffffff, 
        0 0 0px #ffffff, 
        0 0 0px #ffffff, 
        0 0 0px #ffffff, 
        0 0 0px black;
	}
}


/* RESPONSIVE */

/* FOR PC/LAPTOP */
@media (min-height: 500px) and (min-width: 800px) {
	.upcoming {
	background: url('Images/gamelogo.webp') no-repeat center center; 
  background-size: cover;
  display: block; 
  margin: 80px auto; 
  height: 920px;
  width: 100%; 
  overflow: hidden; 
  transition: opacity 0.5s ease-in-out;
}

.upcoming img {
	display: block;
	margin: 280px auto;
	overflow: hidden;
}

.upcoming b {
	display: block;
	margin: -240px auto;
	color: white;
	font-family: sans-serif;
	font-size: 16px;
	text-align: center;
}

.upcoming a {
	display: block;
	margin: 290px auto;
	width: 45%;
	text-decoration: none;
	border: 1px solid white;
	border-radius: 10px;
	color: white;
	font-family: sans-serif;
	font-size: 16px;
	text-align: center;
}



}